@function g-context($g-col-width,$g-col-count,$g-gutter-width){
  $g-context: ($g-col-width * $g-col-count) + ($g-gutter-width * ($g-col-count - 1));
  @return $g-context;
}

@for $i from 1 through $g-col-count {

  $context: g-context($g-col-width, $g-col-count, $g-gutter-width);
  $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

  .grid__col--#{$i} {
    width: percentage($target/$context);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // background-color: tomato;
    }
}
