//**************************************************************
// PLACEHOLDERS
//**************************************************************
%flexBox {
  display: flex;
  flex-wrap: wrap;
}
%centered{
  align-self: center;
  text-align: center;
  align-items: center;
}
