//**************************************************************
// COLORS
//**************************************************************

$malibu:#4FE1F9;
$emerald:#63CC82;
$sunglo:#E4757A;
$coral:#FD7856;
$pmMajesty:#927BC1;
$grey: grey;

$primary-color:$malibu;
$text-color:$grey;
$light-grey: lighten($grey, 10%);
$dark-grey: darken($grey, 10%);

$btn-default:$malibu;
$btn-success:$emerald;
$btn-error:$sunglo;
$btn-warning:$coral;
$btn-info:$pmMajesty;


//**************************************************************
// OTHER
//**************************************************************
