// @import "utilities/mixins";

//Form classes to use

// Forms:
// .form
// .form__label--hidden
// .form__input

.form{
  @include flex-col;
  margin-top: 50px;
  label, legend {
    align-self: flex-start;
  }
}
.form__label--hidden{
  display:none;
}
.form__input{
  width: 100%;
  border:none;
  border-bottom: 5px solid map-get($colors, malibu);
  margin: 15px;
  padding: 10px;
  font-size: 12px;
}
