// @import "utilities/mixins";

// Grid Classes to use

// Grid:
// .container
// .grid__row
// .grid__col--2
// .grid__col--3
// .grid__col--4
// .grid__col--5
// .grid__col--6
// .grid__col--7
// .grid__col--8
// .grid__col--9
// .grid__col--10
// .grid__col--11
// .grid__col--12
// .centered
// .theme__colors

div[class^="grid__col"] {
  @include flex-col;
  @include b-rad;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.grid__row{
  @include flex-col;
  color:map-get($colors, grey);
  line-height: 1.3;
  margin-bottom: 25px;

  @include mq{
        @include flex-row;
  }
}

@include mq{
  div[class^="grid__col"].centered{
    margin:auto;
    max-width: 50%;
  }
}
@include mq{
  div[class^="grid__col--12"]{
    @include flex-row;
  }
}
