//Nav class to use

// Navigation:
// .nav__item
.nav{
  @include flex-col;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: center;

  @media(min-width: 700px){
      flex-direction:row;
  }
}

.nav__item{
  padding: 13px;
  margin: 2px;
  border-radius: 5px;
  background-color: white;
  width: 100%;

}

.nav__item a {
  color: map-get($colors, grey);
}
.nav__item:hover{
  background-color: $primary-color;
  a{
    color:white;
  }
}
